<main>
	<h1 class="title">Lorem ipsum</h1>
	<div class="search">
		<input class="search-bar" type="search" placeholder="Search">
		<div>dada</div>
		<!-- <% @phrases.each do |phrase| %> -->
		<!--   <tr> -->
		<!--     <td><%= phrase.id %></td> -->
		<!--     <td><%= phrase.text %></td> -->
		<!--     <td><%= phrase.pronunciation %></td> -->
		<!--     <td><%= phrase.literal_trans %></td> -->
		<!-- t.string :text -->
		<!-- t.string :pronunciation -->
		<!-- t.string :literal_trans -->
		<!-- t.string :figurative_trans -->
		<!-- t.string :structure -->
		<!-- t.string :gclass -->
		<!-- t.string :subclass -->
		<!---->
		<!--   </tr> -->
		<!-- <% end %> -->
		<div>

		</div>

	</div>
</main>

