body {
    background: #C0B7B7;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6);
}

.search {
    width: 260px;
}

.search-bar {
    color: rgba(60, 60, 67, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    border: 1px solid white;
    padding: 9px 4px 9px 40px;
    background-size: 8%;
    background-image: url("images/search.svg"); 
    background-position: 3% 50%;
    background-repeat: no-repeat;
}

