a { all: unset; }

body {
	background: #C0B7B7;
}

main {
	margin: auto;
	width: 50%;
}

.main-title {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 6vmin;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6);
}

.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.main-container-search {
	color: rgba(60, 60, 67, 0.60);
	font-size: 3vmin;
	font-family: Inter;
	font-weight: 400;
	line-height: 22px;
	border: 1px solid white;
	padding: 9px 4px 9px 6vmin;
	background-size: 8%;
	background-image: url("/assets/search.svg"); 
	background-position: 3% 50%;
	background-repeat: no-repeat;
}

.main-container-element {
	margin-top: 4vh;
	font-size: 4vmin;
	text-align: center;
	font-family: Inter;
}

.main-container-element-text {
	margin: 0;
	padding: 0;
}

@media (min-width:1281px) {  
	.main-title {
		font-size: 40px;
	}
	.main-container-search {
		font-size: 20px;
	}

	.main-container-element {
		font-size: 24px;
	}
}

